version: '3.8'

services:
  # ==========================================
  # Shard 1
  # ==========================================
  master1-shard1:
    build: .
    container_name: dfs-master1-shard1
    command: /app/master --addr 0.0.0.0:50051 --id 1 --peers http://dfs-master1-shard1:8080 --http-port 8080 --storage-dir /data/raft --advertise-addr http://dfs-master1-shard1:50051 --shard-id shard-1 --shard-config /app/shard_config.json
    ports:
      - "50051:50051"
      - "8081:8080"
    networks:
      - dfs-sharded-network
    volumes:
      - master1-shard1-data:/data/raft
      - ./shard_config.json:/app/shard_config.json
    healthcheck:
      test: [ "CMD", "sh", "-c", "netstat -an | grep 50051 || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 3

  chunkserver1-shard1:
    build: .
    container_name: dfs-chunkserver1-shard1
    command: /app/chunkserver --addr 0.0.0.0:50052 --master-addr dfs-master1-shard1:50051 --storage-dir /data/cs1 --advertise-addr dfs-chunkserver1-shard1:50052
    ports:
      - "50052:50052"
    networks:
      - dfs-sharded-network
    depends_on:
      - master1-shard1
    volumes:
      - cs1-shard1-data:/data/cs1

  # ==========================================
  # Shard 2
  # ==========================================
  master1-shard2:
    build: .
    container_name: dfs-master1-shard2
    command: /app/master --addr 0.0.0.0:50051 --id 1 --peers http://dfs-master1-shard2:8080 --http-port 8080 --storage-dir /data/raft --advertise-addr http://dfs-master1-shard2:50051 --shard-id shard-2 --shard-config /app/shard_config.json
    ports:
      - "50061:50051"
      - "8091:8080"
    networks:
      - dfs-sharded-network
    volumes:
      - master1-shard2-data:/data/raft
      - ./shard_config.json:/app/shard_config.json
    healthcheck:
      test: [ "CMD", "sh", "-c", "netstat -an | grep 50051 || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 3

  chunkserver1-shard2:
    build: .
    container_name: dfs-chunkserver1-shard2
    command: /app/chunkserver --addr 0.0.0.0:50052 --master-addr dfs-master1-shard2:50051 --storage-dir /data/cs1 --advertise-addr dfs-chunkserver1-shard2:50052
    ports:
      - "50062:50052"
    networks:
      - dfs-sharded-network
    depends_on:
      - master1-shard2
    volumes:
      - cs1-shard2-data:/data/cs1

networks:
  dfs-sharded-network:
    driver: bridge

volumes:
  master1-shard1-data:
  cs1-shard1-data:
  master1-shard2-data:
  cs1-shard2-data:
