version: '3.8'

services:
  config-server:
    build: .
    container_name: dfs-config-server-test
    command: /app/config_server --addr 0.0.0.0:50050 --id 1 --peers "" --http-port 8080 --storage-dir /data/config-raft --advertise-addr http://config-server:50050
    ports:
      - "50050:50050"
      - "8080:8080"
    networks:
      - dfs-test-network
    volumes:
      - config-server-data-test:/data/config-raft

  master:
    build: .
    container_name: dfs-master-test
    command: /app/master --addr 0.0.0.0:50051 --id 1 --peers "" --http-port 8080 --storage-dir /data/raft --advertise-addr http://dfs-master-test:50051 --shard-id shard-1 --config-servers http://config-server:50050 --split-threshold-rps 2.0 --merge-threshold-rps 0.5 --split-cooldown-secs 10
    ports:
      - "50051:50051"
      - "8081:8080"
    networks:
      - dfs-test-network
    depends_on:
      - config-server
    volumes:
      - master-data-test:/data/raft

  chunkserver:
    build: .
    container_name: dfs-chunkserver-test
    command: /app/chunkserver --addr 0.0.0.0:50052 --config-servers http://config-server:50050 --storage-dir /data/cs1 --advertise-addr dfs-chunkserver-test:50052
    networks:
      - dfs-test-network
    depends_on:
      - master
    volumes:
      - cs-test-data:/data/cs1

networks:
  dfs-test-network:
    driver: bridge

volumes:
  config-server-data-test:
  master-data-test:
  cs-test-data:
